In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
myocardial_infarction_complications = pd.read_csv('MI.data')

In [3]:
column_names = [
    'ID', 'AGE', 'SEX', 'INF_ANAM', 'STENOK_AN', 'FK_STENOK', 'IBS_POST', 'IBS_NASL', 
    'GB', 'SIM_GIPERT', 'DLIT_AG', 'ZSN_A', 'nr11', 'nr01', 'nr02', 'nr03', 'nr04', 'nr07', 
    'nr08', 'np01', 'np04', 'np05', 'np07', 'np08', 'np09', 'np10', 'endocr_01', 'endocr_02', 
    'endocr_03', 'zab_leg_01', 'zab_leg_02', 'zab_leg_03', 'zab_leg_04', 'zab_leg_06', 
    'S_AD_KBRIG', 'D_AD_KBRIG', 'S_AD_ORIT', 'D_AD_ORIT', 'O_L_POST', 'K_SH_POST', 
    'MP_TP_POST', 'SVT_POST', 'GT_POST', 'FIB_G_POST', 'ant_im', 'lat_im', 'inf_im', 
    'post_im', 'IM_PG_P', 'ritm_ecg_p_01', 'ritm_ecg_p_02', 'ritm_ecg_p_04', 'ritm_ecg_p_06', 
    'ritm_ecg_p_07', 'ritm_ecg_p_08', 'n_r_ecg_p_01', 'n_r_ecg_p_02', 'n_r_ecg_p_03', 
    'n_r_ecg_p_04', 'n_r_ecg_p_05', 'n_r_ecg_p_06', 'n_r_ecg_p_08', 'n_r_ecg_p_09', 
    'n_r_ecg_p_10', 'n_p_ecg_p_01', 'n_p_ecg_p_03', 'n_p_ecg_p_04', 'n_p_ecg_p_05', 
    'n_p_ecg_p_06', 'n_p_ecg_p_07', 'n_p_ecg_p_08', 'n_p_ecg_p_09', 'n_p_ecg_p_10', 
    'n_p_ecg_p_11', 'n_p_ecg_p_12', 'fibr_ter_01', 'fibr_ter_02', 'fibr_ter_03', 
    'fibr_ter_05', 'fibr_ter_06', 'fibr_ter_07', 'fibr_ter_08', 'GIPO_K', 'K_BLOOD', 
    'GIPER_Na', 'Na_BLOOD', 'ALT_BLOOD', 'AST_BLOOD', 'KFK_BLOOD', 'L_BLOOD', 'ROE', 
    'TIME_B_S', 'R_AB_1_n', 'R_AB_2_n', 'R_AB_3_n', 'NA_KB', 'NOT_NA_KB', 'LID_KB', 
    'NITR_S', 'NA_R_1_n', 'NA_R_2_n', 'NA_R_3_n', 'NOT_NA_1_n', 'NOT_NA_2_n', 
    'NOT_NA_3_n', 'LID_S_n', 'B_BLOK_S_n', 'ANT_CA_S_n', 'GEPAR_S_n', 'ASP_S_n', 
    'TIKL_S_n', 'TRENT_S_n', 'FIBR_PREDS', 'PREDS_TAH', 'JELUD_TAH', 'FIBR_JELUD', 
    'A_V_BLOK', 'OTEK_LANC', 'RAZRIV', 'DRESSLER', 'ZSN', 'REC_IM', 'P_IM_STEN', 'LET_IS'
]


myo_infar = pd.read_csv('MI.data', header=None, names=column_names)

print(myo_infar.head())

   ID AGE  SEX INF_ANAM STENOK_AN FK_STENOK IBS_POST IBS_NASL GB SIM_GIPERT  \
0   1  77    1        2         1         1        2        ?  3          0
1   2  55    1        1         0         0        0        0  0          0
2   3  52    1        0         0         0        2        ?  2          0
3   4  68    0        0         0         0        2        ?  2          0
4   5  60    1        0         0         0        2        ?  3          0

   ... JELUD_TAH FIBR_JELUD A_V_BLOK OTEK_LANC RAZRIV DRESSLER ZSN REC_IM  \
0  ...         0          0        0         0      0        0   0      0
1  ...         0          0        0         0      0        0   0      0
2  ...         0          0        0         0      0        0   0      0
3  ...         0          0        0         0      0        0   1      0
4  ...         0          0        0         0      0        0   0      0

  P_IM_STEN LET_IS
0         0      0
1         0      0
2         0      0
3         0      0
4         0      0

[5 rows x 124 columns]

In [4]:
myo_infar.replace('?', pd.NA, inplace=True)

In [5]:
myo_infar.head()

,ID,AGE,SEX,INF_ANAM,STENOK_AN,FK_STENOK,IBS_POST,IBS_NASL,GB,SIM_GIPERT,...,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
0,1,77,1,2,1,1,2,<NA>,3,0,...,0,0,0,0,0,0,0,0,0,0
1,2,55,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,52,1,0,0,0,2,<NA>,2,0,...,0,0,0,0,0,0,0,0,0,0
3,4,68,0,0,0,0,2,<NA>,2,0,...,0,0,0,0,0,0,1,0,0,0
4,5,60,1,0,0,0,2,<NA>,3,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
myo_infar.describe()

,ID,SEX,FIBR_PREDS,PREDS_TAH,JELUD_TAH,FIBR_JELUD,A_V_BLOK,OTEK_LANC,RAZRIV,DRESSLER,ZSN,REC_IM,P_IM_STEN,LET_IS
count,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000,1700.000000
mean,850.500000,0.626471,0.100000,0.011765,0.024706,0.041765,0.033529,0.093529,0.031765,0.044118,0.231765,0.093529,0.087059,0.477059
std,490.892045,0.483883,0.300088,0.107857,0.155273,0.200110,0.180067,0.291259,0.175425,0.205417,0.422084,0.291259,0.282004,1.381818
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,425.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,850.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1275.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1700.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,7.000000

In [7]:

missing_mi_complications = myocardial_infarction_complications.isnull().mean() * 100


filter_columns = missing_mi_complications[missing_mi_complications < 50].index


myo_infar_cleaned = myocardial_infarction_complications.loc[:, filter_columns]

In [8]:
myo_infar_cleaned = myo_infar_cleaned.fillna(
    myo_infar_cleaned.median()
)

In [9]:
print(myo_infar_cleaned.shape[1])

124

In [10]:
print(len(column_names))

124

In [11]:
column_names = column_names[:myo_infar_cleaned.shape[1]]

In [12]:
myo_infar_cleaned.columns = column_names

In [13]:
print(myo_infar_cleaned.head())

   ID AGE  SEX INF_ANAM STENOK_AN FK_STENOK IBS_POST IBS_NASL GB SIM_GIPERT  \
0   2  55    1        1         0         0        0        0  0          0
1   3  52    1        0         0         0        2        ?  2          0
2   4  68    0        0         0         0        2        ?  2          0
3   5  60    1        0         0         0        2        ?  3          0
4   6  64    1        0         1         2        1        ?  0          0

   ... JELUD_TAH FIBR_JELUD A_V_BLOK OTEK_LANC RAZRIV DRESSLER ZSN REC_IM  \
0  ...         0          0        0         0      0        0   0      0
1  ...         0          0        0         0      0        0   0      0
2  ...         0          0        0         0      0        0   1      0
3  ...         0          0        0         0      0        0   0      0
4  ...         0          0        0         0      0        0   0      0

  P_IM_STEN LET_IS
0         0      0
1         0      0
2         0      0
3         0      0
4         0      0

[5 rows x 124 columns]

In [14]:
myo_infar_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1699 entries, 0 to 1698
Columns: 124 entries, ID to LET_IS
dtypes: int64(14), object(110)
memory usage: 1.6+ MB